@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
:root{
    background-color: var(--Off-Black);
    box-sizing: border-box;
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    box-sizing: content-box;
    font-size: 17px;
}

body{
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--White);
    background-color: var(--Dark-Grey);
    max-width: 370px;
    border-radius: 10px;
    margin-top:4%;
    margin-left: 20vw;
}
@media (max-width: 500px) {
    body {
    max-width: 95vw;
    margin :5px;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; ;

}
img{
    border-radius: 50%;
    width:40%;
}

.button{
    background-color: hsl(0, 0%, 20%);
    padding: 10px 100px;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
}
.button:hover{
    background-color: hsl(75, 61%, 70%);
}
h1{
    margin-bottom:0 ;
}
h3{
    margin-top:5px ;
}
