@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
:root{
    background-color: var(--Off-Black);
    box-sizing: border-box;
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    box-sizing: content-box;
    font-size: 17px;
}
body {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 22rem;
    margin: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--White);
    border-radius: 10px;
    background-color: var(--Dark-Grey);
}
.links {
    width: 100%;
}

img{
    border-radius: 50%;
    width:40%;
}

.button {
    display: flex;
    justify-content: center;
    padding: .9rem 0 ;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
    color: var(--White);
    text-decoration: none;
}

.button:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: hsl(0, 0%, 20%);
}
h1{
    margin-bottom:0 ;
}
h2 {
    margin-top: 5px ;
    font-size: .9rem;
    color: hsl(75, 94%, 57%);
}
